
<!doctype html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="styles/....">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        {{#unless currentUser}}
        <li>
          <a href="/auth/signup">Signup</a>
        </li>
        <li>
          <a href="/auth/login">Login</a>
        </li>
        {{/unless}}
        {{#if currentUser}}
        <li>
          <form action="/auth/logout" method="post">
            <button type="submit">Logout</button>
          </form>
        </li>
        <li>
          <a href="/users/private">Private Space</a>
        </li>
        {{/if}}
      </ul>
    </nav>
  </header>
  {{{body}}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>